<style type="text/css">
	
  body {
   margin: 0;
   font-family: 'Itim', cursive;
  }
  #title{

    display: block;
    background-color: yellow;
  }
  #logo{
    font-family: sans-serif;
    position: fixed;
    top:600px;
    left: 2%;
    padding: 3px;
    


    
    
    

  }
  body#ticket{
      background-image: url("img/stars/galaxy.jpg");

    }
  #date{
    font-family: sans-serif;
    position: absolute;
    color: gray;
    top:90%;
    left:4%;
  }
  #head{
    font-family: 'Itim', cursive;
    position: relative;
    top:1%;
    left: 1%;
    font-family: sans-serif;
    
    
  }
  p3{
    

    position: fixed;

   
    top:80%;
    left: 2%;
    font-size: 40px;

    color: white;
    font-family: 'Itim', cursive;
    
    animation: aa 5s ease forwards;

  }
  p2{
    position: relative;
    left:5%;
    font-size: 15px;
    color: white;
    font-family: 'Itim', cursive;
    animation: aa 5s ease forwards;
  }
  span{


    font-size: 15px;
    color: #7575a3;
    font-family: sans-serif;
  }
  nav{

    position: relative;
    display: block;
    color: black;
    position: fixed;
    float: left;
    top:10%;
    left: 60%;
  }
  a{

    padding: 1px;
    font-size: 20px;
    color: black;
    font-family: 'Itim', cursive;
    margin-left: 20px;

  }
  a:hover,a:focus {
 
  transition: 4s color: #6666ff;
  outline:none;
  text-decoration:none;

  
}

#BGvid{
  margin-top:2%; 
  position: fixed; 
  z-index: -20; 
  width: 125%; 
  height: 100%;
  animation: fadein 5s ease forwards;

}

#head{
    width: 70%;
}
#des{
  
  color: white;
  position: absolute;
  left: 1%;
  top:30%;

}
#pic{
  position: fixed;
    width: 50px;
    height: 50px;
    left: 20%;
    top: 2%;

  
}
@keyframes aa {
    from { width: 0%; }
    to { width: 100%; }
}
@keyframes aa2 {
    from { color: white; }
    to { color: gray; }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

article2{
  position: relative;
  left: 10%;
  font-size:16px;
}
#fb{

  position: absolute;
  top:130%;
  left: 25%;
}
#contens{
  position: absolute;
  animation: fadein 5s ease forwards;
}
 








  </style>